frontend/node_modules/
frontend/build/
frontend/dist/
coverage/
frontend/.DS_Store
frontend/*.log
frontend/.env


.idea

backend/HELP.md

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.env
backend/.idea






